In [1]:

import pandas as pd 
import numpy as np
import os
import warnings
warnings.filterwarnings('ignore')

### checking if malicious users exists in file_names

In [40]:
file_names=os.listdir('E:\\user_files')
users=file_names[0:100]
for i in range(len(users)):
    name=users[i].split('.')
    users[i]=name[0]

In [41]:
malicious_users=['BBS0039','BSS0369','CCA0046','CSC0217','GTD0219','JGT0221','JLM0364','JTM0223','MPM0220','MSO0222']
# for i in malicious_users:
#     if i in users:
#         print(True)
w=np.array(users)
nm=np.array(malicious_users)
a=np.intersect1d(w, nm)
print('a', a)
for i in range(len(a)):
    malicious_users.remove(a[i])
print(malicious_users)
users+=malicious_users

a ['BBS0039']
['BSS0369', 'CCA0046', 'CSC0217', 'GTD0219', 'JGT0221', 'JLM0364', 'JTM0223', 'MPM0220', 'MSO0222']

In [42]:
len(users)

109

In [44]:
mean=[]
mod=[]
median=[]
userfile_name=[]
for i in range(len(users)):
    data=pd.read_csv(f'user_files//{users[i]}.csv')
#     print(name)
    userfile_name.append(users[i])
    m1=data['Negative'].mean()
    m2=data['Positive'].median()
    m3=data['Neutral'].mode()
    mean.append(m1)
    mod.append(m3[0])
    median.append(m2)

### Creating Dataset

In [45]:
df=pd.DataFrame()
df['user']=userfile_name
df['mean']=mean
df['mode']=mod
df['median']=median
df.tail(20)

        user      mean  mode  median
89   BAJ0654  0.716763   0.0     2.0
90   BAK0964  0.416185   0.0     1.0
91   BAL0044  4.169540   0.0     6.0
92   BAM0611  6.641618   0.0     7.0
93   BAM0636  0.609827   0.0     2.0
94   BBG0325  6.667630   0.0     7.0
95   BBH0810  3.462428   0.0     5.0
96   BBS0039  4.121019   0.0     6.0
97   BBS0422  3.822816   0.0     4.0
98   BCB0679  2.911032   0.0     5.0
99   BCM0653  0.985549   0.0     2.0
100  BSS0369  3.945607   0.0     5.0
101  CCA0046  3.880597   0.0     6.0
102  CSC0217  3.805310   0.0     6.0
103  GTD0219  4.516949   0.0     6.0
104  JGT0221  4.248175   0.0     6.0
105  JLM0364  4.077612   0.0     6.0
106  JTM0223  4.401408   0.0     6.0
107  MPM0220  4.238532   0.0     6.0
108  MSO0222  4.087866   0.0     6.0

### Adding target column

In [46]:
df['user_type']=0

In [47]:
df.to_csv('data_for_ann.csv')

In [48]:
# df['user_type']=np.where(df['user']=='BBS0039',1,0)

In [49]:
df.head(100)

       user      mean  mode  median  user_type
0   AAE0190  5.182081   2.0     6.0          0
1   AAF0535  0.835366   0.0     2.0          0
2   AAF0791  3.632948   0.0     5.0          0
3   AAL0706  0.384393   0.0     1.0          0
4   AAM0658  0.937778   0.0     2.0          0
..      ...       ...   ...     ...        ...
95  BBH0810  3.462428   0.0     5.0          0
96  BBS0039  4.121019   0.0     6.0          0
97  BBS0422  3.822816   0.0     4.0          0
98  BCB0679  2.911032   0.0     5.0          0
99  BCM0653  0.985549   0.0     2.0          0

[100 rows x 5 columns]